<%- include header %>
<form method="post">
  标题: <br />
  <input type="text" name="title" value="<%= post.Title.trim() %>"/><br />
  正文: <br />
  <textarea name="post" rows="20" cols="100"><%= post.Content %></textarea><br />
  <input type="submit" name="confirm" value="发表" />
</form>
<%- include footer %>
